   
   
       
		 <nav class="navbar navbar-static-top navbar-dark bg-inverse">
			<a class="navbar-brand" href="#">Ethan Hao</a>
			<ul class="nav navbar-nav">
			<li {% if page.url == '/' %} class="nav-item  active" {%else%} class="nav-item " {%endif%} >
					<a class="nav-link" href="/index.html">BLOG <span class="sr-only">(current)</span></a>
			</li>
			<li {% if page.url == '/resume.html' %} class="nav-item  active" {%else%} class="nav-item " {%endif%} >
				<a class="nav-link" href="/resume.html">RESUME</a>
			</li>
			<li {% if page.url == '/opensource.html' %} class="nav-item  active" {%else%} class="nav-item " {%endif%} >
				<a class="nav-link" href="/opensource.html">OPENSOURCE</a>
			</li>
			<li {% if page.url == '/portfolio.html' %} class="nav-item  active" {%else%} class="nav-item " {%endif%} >
				<a class="nav-link" href="/portfolio.html">PORTFOLIO</a>
			</li>
		
			</ul>
        </nav>

	
       
    
	