
<div class="container-fluid bg-1 text-center">

  <img src="https://avatars1.githubusercontent.com/u/5567084?v=3&s=460" alt="My avatar" class="img-circle" width="150" height="150">
  <h5 class="text-success">Location: Chicago</h5>
  <h5 class="text-success">Degree: Master of DePaul University</h5>
  <h5 class="text-success">Github: <a href="https://github.com/EthanHao">EthanHao</a></h5>
 <h5 class="text-success">LinkedIn: <a href="http://www.linkedin.com/in/ethan-hao-b9806b61">EthanHao</a></h5>
</div>

