

 <div class="card">
  <img class="card-img-top img-thumbnail" src="https://avatars1.githubusercontent.com/u/5567084?v=3&s=460" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">EthanHao</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Location: Chicago</li>
    <li class="list-group-item">Degree: Master of DePaul University</li>
    <li class="list-group-item">Nationality: China</li>
  </ul>
  <div class="card-block">
    <a href="//github.com/EthanHao" class="card-link">View GitHub</a>
    <a href="//www.linkedin.com/in/ethan-hao-b9806b61" class="card-link">View LinkedIn</a>
  </div>
</div>
